 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a Master Degree student in KU Leuven on Artificial Intelligence program, Speech and Language Technology option; an alumni of Applied Mathematics and Information Science program from Higher School of Economics, Computer Science faculty. 
<br>I am eager to use my machine learning, data science and text processing skills to benefit the society by meeting challenges in media and education.
</p>
                </div>
                <div class="col-lg-4">
                    <p> <b>Interests:</b> machine learning, natural language processing (sentiment analysis, information extraction), STEM education, digital media.
					</p>
                </div>
            </div>
        </div>
    </section>