---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "{{ site.theme }}"

a {
	color: #39CCCC;
}
a:hover {
	color: white;
	background-color: #39CCCC;
	text-decoration: none !important;
}